@font-face {
  font-family: 'FiraSansMedium';
  font-style: normal;
  font-weight: normal;
  
  src: url('fonts/firasans-medium.eot');
  src: url('fonts/firasans-medium.eot?#iefix') format('embedded-opentype'),
     url('fonts/firasans-medium.woff') format('woff'),
     url('fonts/firasans-medium.ttf') format('truetype'),
     url('fonts/firasans-medium.svg#FiraSansMedium') format('svg');
}

@font-face {
  font-family: 'FiraSansRegular';
  font-style: normal;
  font-weight: normal;
  
  src: url('fonts/firasans-regular.eot');
  src: url('fonts/firasans-regular.eot?#iefix') format('embedded-opentype'),
     url('fonts/firasans-regular.woff') format('woff'),
     url('fonts/firasans-regular.ttf') format('truetype'),
     url('fonts/firasans-regular.svg#FiraSansRegular') format('svg');
}

@font-face {
  font-family: 'FiraSansBold';
  font-style: normal;
  font-weight: normal;
  
  src: url('fonts/firasans-bold.eot');
  src: url('fonts/firasans-bold.eot?#iefix') format('embedded-opentype'),
     url('fonts/firasans-bold.woff') format('woff'),
     url('fonts/firasans-bold.ttf') format('truetype'),
     url('fonts/firasans-bold.svg#FiraSansBold') format('svg');
}


body {
  background: #36454F;
  font-family: "FiraSansRegular", sans-serif;
}

a {
  color: #F16665 !important;
}

a:hover {
  text-decoration: underline !important;
}

.reveal {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.03em;
  color: #FFF; 
}

::selection {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  text-shadow: none; }


.reveal section {
  font-size: .85em;
  text-align: left;
}

.reveal section.something {
  color: #333 !important;
}

.reveal section li {
  margin-bottom: 1.5em !important;
}

.reveal section .about {
  margin: 1em 0 2em;
}

.reveal section.authors {
  text-align: center;
}

.link2video {
  margin: -30px 20px 40px 0 !important;
  display: inline-block;
}


.cherrit .author {
  width: 300px;
  margin: 20px 50px 100px;
  display: inline-block;
  text-align: center;
}

.cherrit .author img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #FFF;
}


.speaker {
  width: 100% !important;
  margin: 0 0 -100px !important ;
  text-align: center;
}

.speaker li  {
  width: 180px;
  margin-right: 100px;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  text-align: center;
  font-size: .9em;
}

.speaker img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid #FFF !important;
  border-radius: 50%;
  
}

.speaker li h4 {
  margin-bottom: .5em;
  color: #53CDEC;
}

.speaker li a {
  color: #F16665 !important;
}

section ol {
  counter-reset: list; 
}

section ol li {
  padding-left: 1.3em !important;
  list-style: none;
  position: relative;
}

section ol li:before {
  background: #53CDEC;
  width: 2em;
  height: 2em;
  top: 0.1em;
  left: -1.2em;
  position: absolute;
  color: #FFF;
  font-family: "FiraSansBold";
  font-size: .6em;
  line-height: 2.19em;
  text-align: center;
  border-radius: 50%;
  counter-increment: list;
  content: counter(list);
}

.sponsor  {
  background: url(../photos/cherrit_logo.png) no-repeat top center/50%;
  padding-top: 390px !important;
  text-align: center;
}

pre {
  margin: 0 !important ;
 
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

pre code {
  background: rgba(0,0,0, 0.1) !important;
  margin: 0 !important ;
  padding: 20px 35px !important ;
  border-radius: 5px;
}


/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-family: "FiraSansMedium";
  color: #FFF;
  line-height: 1em;
  text-transform: none;
}

.reveal h1 b, .reveal h2 b,.reveal h3 b,.reveal h4 b,.reveal h5 b {
  font-family: "FiraSansBold";
  color: #F16665;
}

.reveal h6 b {
  font-family: "FiraSansBold";
  color: #53CDEC;
}



.reveal h2, .reveal h3, .reveal h4 {
  margin-bottom: 1em;
}



/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: darkblue;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #0000f1;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #00003f; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; 
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: darkblue;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div {
  display: none;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  top: 0 !important;
  background: rgba(255, 255, 255, 0.4); }

.reveal .progress span {
  background: rgba(255,255,255, 0.95);
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: darkblue; }
